{% extends "maintain/layout.html" %}

{% block page_title %}{{ car.make }}{% endblock %}

{% block body %}
    <h1>Services</h1>
    <div class="alert alert-primary">
        <h4>
            <a class="alert-link" href="#" data-toggle="modal" data-target="#NewServiceModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Log New Service
            </a>
        </h4>
    </div>
    <div>
        Overdue:
        {% with alert='danger' %}
            {% for reminder in overdue_reminders %}
                {% include "maintain/reminder-block.html" %}
            {% endfor %}
        {% endwith %}
    </div>
    <div>
        Upcoming (1,000 miles or 30 days):
        {% with alert='warning' %}
            {% for reminder in upcoming_reminders %}
                {% include "maintain/reminder-block.html" %}
            {% endfor %}
        {% endwith %}
    </div>
    <div>
        Completed Services:<a href="{% url 'csvdata' %}">Export to csv</a>
        {% for log in past_service_logs %}
            {% include "maintain/service-block.html" %}
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="NewServiceModal" tabindex="-1" role="dialog" aria-labelledby="NewServiceFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NewServiceFormTitle">Log New Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="service-form" action="{% url 'car_service' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="reminder-id">
                        <div class="form-row">
                            <div class="form-group col-sm">
                                <label for="date">Date of Service</label>
                                <input type="datetime" class="form-control" name="date" placeholder="MM/DD/YYYY" required>
                            </div>
                            <div class="form-group col-sm">
                                <label for="mileage">Current Vehicle Mileage</label>
                                <input type="text" class="form-control" name="mileage" placeholder="Mileage" required>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="service">Service</label>
                            <input type="text"  class="form-control" name="service" placeholder="Service Name" required>
                        </div>

                        <div class="form-group">
                            <label for="part">Parts:<button id="addPartBtn" type="button" class="btn btn-link btn-sm">Add Part</button></label>
                            <div id="part-group">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input type="text"  class="form-control" name="part-name-1" placeholder="Part Name">
                                    </div>
                                    <div class="form-group col">
                                        <input type="text"  class="form-control" name="part-number-1" placeholder="Part Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="reminder">Add a Reminder:
                                <small class="form-text text-muted">
                                    Specify a duration (in months) from the date of service or number of miles (from service mileage) to be reminded to complete service again.
                                </small>        
                            </label>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="duration">Duration (Months)</label>
                                    <input type="text"  class="form-control" name="duration" placeholder="No. Months">
                                </div>
                                <div class="form-group col-auto d-flex align-items-end">
                                    <span>or</span>
                                </div>
                                <div class="form-group col">
                                    <label for="mile-amount">Number of Miles</label>
                                    <input type="text"  class="form-control" name="mile-amount" placeholder="No. Miles">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}