{% extends "maintain/layout.html" %}

{% block page_title %}{{ car.make }}{% endblock %}

{% block body %}
    Service Page
    <div>
        Log Service Button
    </div>
    <div>
        Overdue:
        {% with alert='danger' %}
            {% for reminder in overdue_reminders %}
                {% include "maintain/reminder-block.html" %}
            {% endfor %}
        {% endwith %}
    </div>
    <div>
        Upcoming (1,000 miles or 30 days):
        {% with alert='warning' %}
            {% for reminder in upcoming_reminders %}
                {% include "maintain/reminder-block.html" %}
            {% endfor %}
        {% endwith %}
    </div>
    <div>
        Completed Services:
        {% for log in past_service_logs %}
            {% include "maintain/service-block.html" %}
        {% endfor %}
    </div>





{% endblock %}