{% extends "maintain/layout.html" %}

{% block page_title %}Your Cars{% endblock %}

{% block body %}
    <div class="row">
        {% for car in cars %}
            <div class="col d-flex justify-content-center">
                <div id="{{ car.id }}" class="car-button d-flex align-items-center" onclick="setDefaultCar(this, event)">
                    <a href="{% url 'car_info' %}" class="d-flex justify-content-center">
                        <span class="d-flex align-items-center">
                            {{ car.year }}<br>
                            {{ car.make }}<br>
                            {{ car.model }}
                        </span>
                    </a>
                </div>
            </div>  
        {% endfor %}
        <div class="col d-flex justify-content-center">
            <div id="add-car" class="car-button d-flex align-items-center">
                <a href="#" class="d-flex justify-content-center">
                    <span class="d-flex align-items-center">
                        Add<br>
                        New<br>
                        Car
                    </span>
                </a>
            </div>
        </div>  
    </div>
    <canvas id="mileage-plot" data-plot="miles" data-car="all"></canvas>
{% endblock %}