{% extends "maintain/layout.html" %}

{% block page_title %}Index{% endblock %}

{% block body %}
    {% for car in cars %}
        <div id="{{ car.id }}" class="car-button" onclick="getcar(this, event)">
            <a href="{% url 'car_info' %}">
                <div class="align-middle">
                    <span>{{ car.year }}</span>
                    <span>{{ car.make }}</span>
                    <span>{{ car.model }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}